<div class="backgroundMain"></div>

<div class="mainContentContainerSignin">
    {{ form_start(form, { 'attr': {'autocomplete': 'off'} }) }}
        <div class="loginform">
          <div class="formrow">
              <div class="formcolfield">
                  {{ form_row(form.login) }}
              </div>
              <div class="formcolfield">
                  {{ form_row(form.password) }}
              </div>
              <div class="formcolfield">
                  {{ form_row(form.passwordconfirm) }}
              </div>
              <div class="formcolsubmit">
                  {{ form_row(form.signin) }}
              </div>
          </div>
        </div>
    {{ form_end(form) }}
    {% if error > 0 %}
        <div class="loginerror">
            Les mots de passes ne correspondent pas.
        </div>
    {% endif %}
</div>






{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/js/login.js"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
{% endblock %}
