<div id="screenShadowLoading" class="screenShadowLoading"></div>
<div id="Loading" class="Loading"><img src="/images/loading.gif"/></div>

<div id="screenShadow" class="screenShadow"></div>
<div id="Popup" class="Popup">
  <div class="PopupText">
    <span id="PopupTextSpan">Texte</span>
  </div>
  <div id="PopupContentDiv"></div>
</div>

<div class="backgroundMain"></div>

<input type="hidden" id="SelectedProductId" value="">

<div class="mainContentContainer">
    {{ form_start(form) }}
        <div class="addform">
          <div class="formrow">
              <div class="formcolfield">
                  {{ form_row(form.name) }}
              </div>
              <div class="formcolsubmit">
                  {{ form_row(form.add) }}
              </div>
          </div>
        </div>
    {{ form_end(form) }}

    {% if listsproducts|length > 0 %}
        <div class="currentlist widthcontent">
            {% set i = 1 %}
            {% for listsproduct in listsproducts %}
                <div class="listproductrow {% if i % 2 == 0 %}evenrow{% else %}oddrow{% endif %}{% if i > 1 %} rowBorderTop{% endif %}">
                    {% if listsproduct.product.ImageLink is null %}
                      <div class="rowbutton buttonstyle" onclick="LoadPopUpImage({{ listsproduct.product.id }},'{{ listsproduct.product.name }}')"><i class="fas fa-plus icontobecentered"></i></div>
                    {% else %}
                      <div class="productImageDiv">
                        <img class="productImage" src="{{ listsproduct.product.imageLink }}"/>
                      </div>
                    {% endif %}
                    <div class="rowProductName">
                      {{ listsproduct.product.name }}
                    </div>
                    <div class="deleteRow" onclick="deleteProductFromCurrentList({{ listsproduct.product.id }})"><i class="fas fa-trash-alt"></i></div>
                    <div class="quantityHandlerContainer">
                      <div class="quantityMinus" onclick="quantityMinus({{ listsproduct.product.id }})">-</div
                      ><div class="quantityNumber" id="quantityNumber_{{ listsproduct.product.id }}">{{ listsproduct.quantity }}</div
                      ><div class="quantityPlus" onclick="quantityPlus({{ listsproduct.product.id }})">+</div>
                    </div>
                </div>
                {% set i = i+1 %}
            {% endfor %}
        </div>
    {% else %}
        <div class="currentlist widthcontent">
            <div class="listproductrow">
                <div class="EmptyList">Aucun produit</div>
            </div>
        </div>
    {% endif %}

    <div class="buttonnewlist widthcontent">
        <input type="button" class="otherbutton" value="Nouvelle Liste" onclick="showPopupNewList()">
    </div>
</div>

<div id="content"></div>




{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/js/mylist.js"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
{% endblock %}
